/www/html/node_modules
/www/html/public/build
/www/html/public/hot
/www/html/public/storage
/www/html/storage/*.key
/www/html/vendor
/www/html/.env
/www/html/.env.backup
/www/html/.env.production
/www/html/.phpunit.result.cache
/www/html/Homestead.json
/www/html/Homestead.yaml
/www/html/auth.json
/www/html/npm-debug.log
/www/html/yarn-error.log
/.fleet
/.idea
/.vscode
/mysql